body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p {
    font-size: larger;
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

#njit {
    color: red
}

#github{
    color: rgb(0, 85, 255)
}