body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
}

p {
    font-size: larger;
}

.header {
    padding-top: 30px;
    padding-bottom: 20px;
}

.centerDiv {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

#njit {
    color: red
}

#github{
    color: rgb(0, 85, 255)
}